/* Foi criado um design bem simples para o jogo */
#containerJogoDaVelha{
    background-color: black;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    width: 180px;
}

.botao{
    background-color: aqua;
    color: aqua;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 37px;
    cursor: pointer;
}

.botao:hover{
    background-color: blue;
    color: blue;
}

br{
    margin: 0;
    padding: 0;
}